@import 'normalize';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%;
}


.right{
    color: green;
}

.wrong {
    color: red;
}


// input{
//     visibility: visible;
// }